.btn {
    display: inline-block;
    width: auto;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #0063DA;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
