/* https://cssgradient.io/ */

.btn {
    display: inline-block;
    width: auto;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background: rgb(31,73,216);
    background: linear-gradient(90deg, 
        rgba(31,73,216,1) 0%, 
        rgba(3,102,223,1) 100%);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background: linear-gradient(90deg, 
    rgb(31, 173, 216) 0%, 
    rgb(3, 124, 223) 100%);
}