.form {
    display: inline-block;
    width: 100%;
}
.form > .form-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.form > .form-row > label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
.form > .form-row > input {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    border: 2px solid transparent;
    border-bottom: 2px solid #F7F7F7;
}