.form {
    display: inline-block;
    width: 100%;
}
.form > .form-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.form > .form-row:last-child {
    margin-bottom: 0px;
}
.form > .form-row > label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    color: #666;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}
.form > .form-row > input {
    display: inline-block;
    width: 100%;
    line-height: 40px;
    font-size: 15px;
    border: 2px solid transparent;
    border-bottom: 2px solid #F7F7F7;
}
.form > .form-row > input:focus {
    outline: #F7F7F7 solid;
}
.form ::placeholder {
    color: #999;
    font-style: italic;
    font-size: 12px;
}
