body, body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifS;
}
body {
    background-color: #671C7E;
    background: rgb(89,31,105);
    background: linear-gradient(45deg, rgba(89,31,105,1) 0%, rgba(0,140,172,1) 100%);   
    background-image: url(../img/hill-copy.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}
/* .background-div {
    height: 100%;
    background-image: url(../img/hill.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(1.2rem);
} */
.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* filter: blur(1rem); */
}
.container {
    display: inline-block;
    width: 800px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-column {
    width: 40%;
    display: inline-block;
    float: left;
    padding: 40px;
    color: white;
    background-color: #4739AB;
    background-image: url(../img/hill.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 30px;
    bottom: 30px;

}
.main-title {
    display: inline-block;
    width: 100%;
    font-size: 50px;
    font-weight: normal;
    
}
.bottom-links {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 60px;
    right: 40px;
    
}
.bottom-links > .link {
    color: white;
    font-size: 14px;

}
.bottom-links > .symbol {

}

.right-column {
    width: 60%;
    display: inline-block;
    float: right;
    padding: 60px;
    background-color: white;
    position: relative;
}
.close {
    background-color: white;
    color: #999;
    width: 60px;
    height: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.close:hover {
    border: 2px solid #999;
}
.right-column span {
    display: inline-block;
    padding: 15px;
    padding-right: 0;
    margin-left: 15px;
    line-height: 20px;
    font-size: 17px;
}
.right-column a {
    display: inline-block;
    padding: 15px;
    padding-left: 3px;
    line-height: 20px;
    font-size: 17px;
    text-decoration: none;
    color: #0063DA;
}
.right-column a:hover {
    text-decoration: underline;
}
