body, body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
body {
    background-color: #01ADCE;
}

.container {
    display: inline-block;
    width: 800px; 
    margin-top: 60px;
    margin-left: calc((100% - 800px)/2);
}

.left-column {
    width: 40%;
    display: inline-block;
    float: left;
    padding: 40px;
    margin-top: 20px;
    color: white;
    background-color: #4739AB;
    background-image: url(../img/hill.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.main-title {
    display: inline-block;
    width: 100%;
    font-size: 32px;
    font-weight: normal;
    
}
.bottom-links {
    display: inline-block;
    width: 100%;
    
}
.bottom-links > .link {
    color: white;
    font-size: 14px;

}
.bottom-links > .symbol {

}

.right-column {
    width: 60%;
    display: inline-block;
    float: left;
    padding: 60px;
    background-color: white;
    position: relative;
}
.close {
    background-color: white;
    color: #999;
    width: 60px;
    height: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}
.right-column span {
    display: inline-block;
    padding: 15px;
    padding-right: 0;
    margin-left: 15px;
    line-height: 20px;
    font-size: 17px;
}
.right-column a {
    display: inline-block;
    padding: 15px;
    padding-left: 3px;
    line-height: 20px;
    font-size: 17px;
    text-decoration: none;
    color: #0063DA;
}
.right-column a:hover {
    text-decoration: underline;
}
